<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel" verbose="1" >
    <parameter name="browser" value="Android"/>
    <test name="Appium Test">
        <classes>
            <class name="testRunner.runner"/>
        </classes>
    </test>
</suite>